/*** RESET ***/
html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
/***/

/*** GRID ***/
* {
    box-sizing: border-box;
}

.row {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (orientation: landscape) {
    .col-land-1 {width: 8.33%;}
    .col-land-2 {width: 16.66%;}
    .col-land-3 {width: 25%;}
    .col-land-4 {width: 33.33%;}
    .col-land-5 {width: 41.66%;}
    .col-land-6 {width: 50%;}
    .col-land-7 {width: 58.33%;}
    .col-land-8 {width: 66.66%;}
    .col-land-9 {width: 75%;}
    .col-land-10 {width: 83.33%;}
    .col-land-11 {width: 91.66%;}
    .col-land-12 {width: 100%;}
}

@media only screen and (min-width: 500px) {
    .col-large-1 {width: 8.33%;}
    .col-large-2 {width: 16.66%;}
    .col-large-3 {width: 25%;}
    .col-large-4 {width: 33.33%;}
    .col-large-5 {width: 41.66%;}
    .col-large-6 {width: 50%;}
    .col-large-7 {width: 58.33%;}
    .col-large-8 {width: 66.66%;}
    .col-large-9 {width: 75%;}
    .col-large-10 {width: 83.33%;}
    .col-large-11 {width: 91.66%;}
    .col-large-12 {width: 100%;}
}

[class|="col"] {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

/***/

html, body {
    height: 100%;
    background: #388E3C;
    color: #fff;
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heading1 {
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.player-wins {
    margin: 0 10px;
}

.punches {
    margin: 2% 0;
}

.punch {
    padding: 40%;
    background-color: #039BE5;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: transform ease 0.1s, background ease 1s;
    /* fix on tap blue highlight color for chrome mobile*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media only screen and (orientation: landscape),
only screen and (min-width: 500px)
{
    .punch {
        padding: 15%;
        margin: 3% 0;
    }
}

@media only screen and (min-width: 1024px) {
    .punch {
        padding: 50px;
        margin: 10px;
    }
}

.mirror .punch {
    background-color: #5E35B1;
}

.human.punch {
    cursor: pointer;
}

.human.punch:hover {
    background-color: #9c0033;
}

.human.punch:focus {
    background-color: #5E35B1;
}

.human.punch.active {
    background-color: #9c0033;
    transform: rotate(60deg);
}

.punch.active {
    background-color: #9c0033;
    transform: rotate(60deg);
}

.mirror .punch.active {
    transform: rotate(-60deg);
}

.punch:active, .punch:focus {
    outline: 0;
}

.paper {
    background-image: url('./icons/paper.svg');
}

.mirror .paper {
    background-image: url('./icons/paper-left.svg');
}

.rock {
    background-image: url('./icons/rock.svg');
}

.mirror .rock {
    background-image: url('./icons/rock-left.svg');
}

.scissors {
    background-image: url('./icons/scissors.svg');
}

.mirror .scissors {
    background-image: url('./icons/scissors-left.svg');
}

.logs {
    min-height: 150px;
}

.log {
    position: relative;
    margin: 0 auto;
    padding: 4px 0;
    white-space: nowrap;
}

.log:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    border-bottom: 1px solid #fff;
}

.log.index0 {
    width: 80%;
    font-size: 3em;
}

.log.index1 {
    width: 60%;
    font-size: 2em;
}

.log.index2 {
    width: 40%;
    font-size: 1.5em;
}

.icon-arrow-right:before {
    content: '\21D2';
}

.icon-arrow-left:before {
    content: '\21D0';
}

.icon-arrow-both:before {
    content: '\21D4';
}

/*** ICONS ***/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?n4uby6');
    src: url('fonts/icomoon.eot?n4uby6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n4uby6') format('truetype'),
    url('fonts/icomoon.woff?n4uby6') format('woff'),
    url('fonts/icomoon.svg?n4uby6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-equals:before {
    content: "\e900";
}
.icon-scissors:before {
    content: "\e906";
}
.icon-scissors-m:before {
    content: "\e907";
}
.icon-paper:before {
    content: "\e908";
}
.icon-paper-m:before {
    content: "\e909";
}
.icon-rock:before {
    content: "\e90a";
}
.icon-rock-m:before {
    content: "\e90b";
}
